<html><head>
  <meta charset="UTF-8">
  <title>Login Form</title>
      <link rel=stylesheet href="{{ url_for('static', filename='login.css') }}">
</head>

<body>

    <div class="page">
        <div class="page-title">
            <img src="{{ url_for('static', filename='Capital-one-logo.png') }}" alt="Capital One" style="width:100%;">
        </div>

    	<div class="login">
    		<div class="login-screen">
    			<div class="app-title">
    				<h1>Log In</h1>
    			</div>

    			<div class="login-form">
                    <form action="{{ url_for('login')}}" method="post">
    				<div class="control-group">
    				<input type="text" class="login-field" value="" placeholder="Account ID" id="aid" name="aid" required>
    				<label class="login-field-icon fui-user" for="aid"></label>
    				</div>

                    <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="First Name" id="first" name="first" required>
                    <label class="login-field-icon fui-user" for="first"></label>
                    </div>

                    <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="Last Name" id="last" name="last" required>
                    <label class="login-field-icon fui-user" for="last"></label>
                    </div>

                    <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="Zip Code" id="zip" name="zip" pattern="[0-9]{5}" required>
                    <label class="login-field-icon fui-user" for="zip"></label>
                    </div>

    				<div class="btn btn-primary btn-large btn-block">
                        <button type="submit" value="Log In">Log In</button>
                    </div>
                </form>
    			</div>
    		</div>
    	</div>
    </div>





</body></html>
